
  /* .row{
    margin-top: 1%;
    margin-left: 13%;
  } */
  .btn1{
    margin-left: 9%;
  }
  .heading{
    color: rgb(92, 15, 225);
    margin-left: 5%;
    font-size: larger;
  }
  .btn2{
    margin-left: 25%;
  }
  .benimg{
    width: 100%;
  }
  .btn3{
   margin-left: 10%;
    margin-top: 3%;
    margin-bottom: 3%;
  }
.cs-course{
    margin: 2em;
}